<!DOCTYPE html>
<html>
  <body>
    {% extends "layout.html" %}
    {% block content %}


       <div class="extensionRequests">
         <h1>Extension Requests</h1>
         <p>This page shows the number of extension requests for the selected module and year group.</p>
       </div> <br> 


       <table id="HTML_Table" style="width: 1000px;">

        <tr>
          <th>Name of Module</th>
          <th>Number of Extension Requests Submitted</th>
          <th>Number of Extension Requests Approved</th>
          <th>Most Common Request Reason</th>
          <th>Update or Delete</th>
        </tr>
        

      </table>

      <!-- Only admin's should be able to update data-->
      {% if allow_data_changes %}
      <button class="insert-button" onclick="insertRow()">Insert</button>
      {% endif %}

      <!--Students can export the data, personal data of others isn't available-->
      <button class="export-button" onclick="ExportData()">Export</button>

      <script>

        

        var extension_request_data = {
          'Internet of Things': ['15', '9', 'Sickness'],
          'Software Development Life Cycle': ['14', '8', 'Personal Family Circumstance'],
          'Negotiated Learning': ['7', '6', 'Very Busy at Work'],
          'Information Business Management Processes': ['5', '4', 'Sickness'],
          'Agile Project Management': ['6', '6', 'Struggle with Assignment Workload'],
          'Cyber Risks in Organisations': ['11', '4', 'Sickness'],
          'Applied Maths II': ['5', '3', 'Personal Family Circumstance']
        };

        function Load() {

          var table = document.getElementById('HTML_Table');

          // for each row in the table data object, insert them into the HTML table to be displayed
          for (var module in extension_request_data) {

            var row = table.insertRow(-1);
            row.id = module;

            var data = extension_request_data[module];

            row.insertCell(0).textContent = module;
            row.insertCell(1).textContent = data[0];
            row.insertCell(2).textContent = data[1];
            row.insertCell(3).textContent = data[2];
            
            // if user has admin rights (admin login) show the delete and update buttons in the table
            {% if (allow_data_changes) %}
              row.insertCell(4).innerHTML = '<button onclick="DeleteRecord(\'' + module + '\')">Delete</button><br><button onclick="UpdateRecord(\'' + module + '\')">Update</button>';
            {% endif %}
          
          }
        }



      function Save() {
        // save the table data to local storage
        localStorage.setItem('HTML_Table', JSON.stringify(extension_request_data));
      }




      function DeleteRecord(id) {
        // remove the row from the table and data from local storage
        var record = document.getElementById(id);
        // removes the table row in front-end
        record.parentNode.removeChild(record);
        // removes table row in front-end based on ID
        delete extension_request_data[id];
        Save();
      }





      function UpdateRecord(id) {
        // update the row with new data and save to local storage
        var record = document.getElementById(id);

        // retrieves new updated values from user

        var requests_submitted = prompt("Enter updated number of requests submitted");
        var requests_approved = prompt("Enter updated number of requests approved");
        var request_reason = prompt("Enter updated request reason");

        // updates the table record data with the new values
        record.children[1].textContent = requests_submitted;
        record.children[2].textContent = requests_approved;
        record.children[3].textContent = request_reason;

        extension_request_data[id] = [requests_submitted, requests_approved, request_reason];
        
        Save();
      }






      // create a CSV file of the table data and download it
      function ExportData() {
        
        // retrieves and stores the table data
        var extensionRequestsTable = document.getElementById('HTML_Table');
        var records = extensionRequestsTable.rows;

        // type of file that will be created when exporting the data
        var csv = 'data:text/csv;charset=utf-8,';

        // loops through each table row
        for (var x = 0; x < records.length; x++) {
          var rowData = [];
          // loops through every cell in the row
          for (var y = 0; y < records[x].cells.length - 1; y++) {
            rowData.push(records[x].cells[y].textContent);
          }

          csv += rowData.join(',') + '\n';
        }

        // secures the CSV file with the encodeURI function and adds to browser downloads when export button is clicked

        // creates an 'a' element (html link element)
        var joinToCSV = document.createElement('a');
        var secure_CSV = encodeURI(csv);

        joinToCSV.setAttribute('href', secure_CSV);
        joinToCSV.setAttribute('download', 'ExtensionRequests.csv');

        document.body.appendChild(joinToCSV);
        joinToCSV.click();
      }

      Load(); 





      // add a new row to the table and save to local storage
      function insertRow() {
        
        // save user input from prompt window into variables
        var module = prompt("What is the Module Name:");
        var requests_submitted = prompt("What is the number of requests submitted by students");
        var requests_approved = prompt("How many of the requests were approved");
        var request_reason = prompt("What was the most common reason for the requests");

        // stores the HTML table element in this variable
        var table = document.getElementById('HTML_Table');

        // insert row at end of table (-1) is the last position
        var newRow = table.insertRow(-1);

        // the module name will be the ID to identify the row (similar to primary key in a database)
        newRow.id = module
        // assigns the inputted data into the row with the module ID
        newRow.insertCell(0).textContent = module;
        newRow.insertCell(1).textContent = requests_submitted;
        newRow.insertCell(2).textContent = requests_approved;
        newRow.insertCell(3).textContent = request_reason;
        
        // inserts the update and delete buttons which indentifies the row to action based on the module ID
        newRow.insertCell(4).innerHTML = '<button onclick="deleteRow(\'' + module + '\')">Delete</button><br><button onclick="UpdateRecord(\'' + module + '\')">Update</button>';
        
        // creates the new row and inserts the row into the table 
        extension_request_data[module] = [requests_submitted, requests_approved, request_reason];
        
        Save();
      }


      


      </script>

     {% endblock %}


  </body>
</html>