<!DOCTYPE html>
<html>
<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

  <body>

    <header>
      <div class="container">
        <h1 class="logo">WMGSIS</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if 'username' in session %}
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
        </nav></strong>
      </div>
    </header>
    
    

    <div class="container">
        {% block content %}
        {% endblock %}
        {% if 'username' in session %}
          <div class="username">Logged in as: {{ session['username'] }}</div>
        {% endif %}
    </div>
    

    <div>
      
    </div>


  </body>
</html>